/* 
  NOTE: For the sake of simplicity I am using native CSS nesting here but 
  as of right now it only has support in Chromium browsers. In reality 
  we can use Sass or PostCSS to keep things readable.
*/
[data-component-name="link-button"] {
  text-decoration: none;
  padding: var(--size-2) var(--size-4);
  border-radius: var(--radius-2);
  font-family: var(--ea-brand-font-sans-serif);
  font-weight: var(--font-weight-2);

  &:hover {
    box-shadow: var(--shadow-2);
  }
}

[data-component-name="program-overview"] {
  text-align: center;
  padding-block-end: var(--size-5);

  & [data-component-section="hero-image"]{
    display: block;

    & img {
      width: 100%;
      aspect-ratio: 3/2;
      object-fit: contain;
    }
  }

  & [data-component-section="icon"]{
    margin-block-start: -100px;
  }

  & [data-component-section="intro-text"]{
    max-width: var(--readability-max-line-length);
    margin: 0 auto;

    & h3 {
      color: var(--ea-brand-color-pink);
    }
  }

  & [data-component-section="cta"] {
    padding-block-start: var(--size-5);
    display: flex;
    gap: var(--size-7);
    justify-content: center;
  }
}

program-overview {
  & section:first-of-type {
    text-align: center;
    padding-block-end: var(--size-5);
  }

  & [data-component-section="hero-image"]{
    display: block;

    & img {
      width: 100%;
      aspect-ratio: 3/2;
      object-fit: contain;
    }
  }

  & [data-component-section="icon"]{
    margin-block-start: -100px;
  }

  & [data-component-section="intro-text"]{
    max-width: var(--readability-max-line-length);
    margin: 0 auto;

    & h3 {
      color: var(--ea-brand-color-pink);
    }
  }

  & [data-component-section="cta"] {
    padding-block-start: var(--size-5);
    display: flex;
    gap: var(--size-7);
    justify-content: center;
  }
}
